* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: white;
}

input,
button {
  cursor: pointer;
  border: 0;
  padding: 0.5em 1em;
  border-radius: 0.5rem;
}

/* todo input */
.todo-list {
  background-color: grey;
  border-radius: 0.8rem;
  padding: 1rem;
}

.button:hover {
  color: white;
  background-color: rgb(2, 2, 2);
}

.todo-list h1,
h2 {
  text-align: center;
}

/* todo styling */
.todo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: white;
  padding: 0.5em 1em;
  border-radius: 0.5rem;
}

.todo:hover {
  border: solid black 2px;
}
.checkbox {
  accent-color: rgb(10, 148, 10);
}

.checkbox:checked ~ .todo-value {
  color: rgb(10, 148, 10);
  text-decoration: line-through;
}

.checkbox:checked ~ button {
  font-size: 1.1rem;
}

.todo button {
  background-color: transparent;
  padding: 0;
}

.todo button:hover {
  color: red;
}

/* utitlities */
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  gap: 0.5em;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}
